<script setup lang="ts">
defineProps<{
  props: { msg: string; name: string, success: boolean };
}>();
</script>

<template>
  <div class="mainComp">
    <h1 class="green">{{ props.msg }} mess</h1>
    <h3>Toto je mainComp !!!!!!</h3>

  </div>
</template>

<style scoped>
.mainComp {
  /* background-color: aqua; */
}
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
</style>
