<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js + TypeScript App" /> -->
    <SignUpForm />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import SignUpForm from "@/components/SignUpForm.vue"; // @ is an alias to /src

export default defineComponent({
  name: "Home",
  components: {
    SignUpForm,
  },
});
</script>
