<!DOCTYPE html>
<html>

<head>
    <script src="index.js"></script>
    <title>My first Vue app</title>
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>

<body>
dfdfs
<div id="app">dddd{{msg}}</div>
<todo-item></todo-item>

</body>
</html>