.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.matrix {
  margin: 2rem;
  text-align: center;
  width: 400px;
}

.label {
  width: 46px;
  height: 46px;
  background-color: aqua;
  position: relative;
  display: flex;
  float: left;
  margin: 0;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  margin: 5px;
}

.label:hover {
  background-color: yellow;
}

input[type="checkbox"] {
  display: none;
}

.spanNum {
  justify-content: center;
}

