<script>
// import { defineComponent } from '@vue/composition-api'

export default {
  data() {
    return {
        names: ['Peter', 'John', 'Paul'],
      count: 1
    }
  },

  // `mounted` is a lifecycle hook which we will explain later
  mounted() {
    // `this` refers to the component instance.
    console.log(this.count) // => 1

    names.foreach((el) => console.log('Name ', el))

    // data can be mutated as well
    this.count = 2
  }
}


</script>


<template>
  <div class="neco">
    <h1>This is NECOOOO</h1>
    <!-- {{ count = 0 }} -->
    <button @click="count++">
    Count is: {{ count }}

 



    <!-- {{console.log('Count ', count)}} -->
  </button>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>