.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #dcdcdc;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  margin: 1px;
  padding: 0;
}

.button.active {
  background-color: yellow;
}

.button.isFibo {
  background-color: green;
}

.matrixToolbar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1em 1em .5em .5em;
}

.matrixToolbarItem{
  display: flex;
}

.matrixToolbarInput{
  border-radius: 5px;
}
