<template>
  <form>
    <label>E-mail</label>
    <input type="email" required v-model="email" />
    <label>Password</label>
    <input type="password" required v-model="password" />

    <label>Role</label>
    <select v-model="role">
      <option value="developer">Web developer</option>
      <option value="designer">Web designer</option>
    </select>

    <div>
      <input type="checkbox" v-model="terms" />
      <label>Agree with terms</label>
    </div>

    <div>
      <input type="checkbox" value="Peter" v-model="names" />
      <label>Peter</label>
      <input type="checkbox" value="John" v-model="names" />
      <label>John</label>
      <input type="checkbox" value="Suzanne" v-model="names" />
      <label>Suzanne</label>
    </div>

    <label>Skills</label>
    <input type="text" v-model="tempSkill" @keyup="addSkill" />
    <div v-for="(skill, index) in skills" :key="index">
      <span @click="deleteSkill"> {{ skill }} </span>
    </div>
  </form>

  <p>Email: {{ email }}</p>
  <p>PW: {{ password }}</p>
  <p>Role: {{ role }}</p>
  <p>Terms: {{ terms }}</p>
  <p>Names: {{ names }}</p>
</template>

<script>
export default {
  // setup() {
  // },
  data() {
    return {
      email: "",
      password: "",
      role: "",
      terms: false,
      names: [],
      tempSkill: "",
      skills: [],
    };
  },
  methods: {
    addSkill(e) {
      if (e.key === "," && this.tempSkill) {
        if (!this.skills.includes(this.tempSkill)) {
          this.skills.push(this.tempSkill.slice(0, -1));
        }
        this.tempSkill = "";
      }
    },
    deleteSkill(skill) {
        console.log(skill);
      this.skills = this.skills.filter((item) => item !== skill);
    },
  },
};
</script>
