<!DOCTYPE html>
<html>
  <head>
    <title>My first Vue app</title>
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      {{ message }}
      
      <div>Messss 3 {{ message.split('').reverse().join('') }}</div>
      <div v-once>This will never change: {{ reversedMessage }}</div>

      <!-- <p>Using mustaches: <span style="color:red">Toto je rrrr</span></p> -->
      Using v-htmldirective: <span v-html="rawHtml">{{raw}}</span> 
      Using v-htmldirective: <span>{{raw}}</span> 
      <div>Using v-htmldirective ----: <p>{{message}}</p> </div>

    <div v-bind:id="id">bind id</div>
    <div v-bind:id="'list-' + message">list + {{message}}</div>
    
    <p v-if="seen">Now you see me</p>


    </div>
    <!-- <p>Using mustaches: <span style="color:red">Toto je rrrr</span></p> -->
    <!-- Using v-htmldirective: <span v-html="rawHtml">{{ message3 }}</span> Using
    mustaches: <span style="color: red">{{rawHtml}}</span> -->

    <!-- <div v-bind:id="id">bind id</div> -->



    <script>
      const app = new Vue({
        el: "#app",
        data: {
          message: "Hello",
          seen: false,
          id: 12132321,
          raw: "<p>dfsddsdfs</p>"
        },
        computed: {
          // a computed getter
          reversedMessage: function () {
            // `this` points to the vm instance
            return this.message.split("").reverse().join("");
          },
        },
      });
    </script>

    <div id="app-3">
      <span v-if="seen">Now you see me</span>
    </div>

    
    <script>
      var app3 = new Vue({
        el: "#app-3",
        data: {
          seen: false,
        },
      });
    </script>


<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>

<script>

var app4 = new Vue({
  el: '#app-4',
  data: {
    todos: [
      { text: 'Learn JavaScript' },
      { text: 'Learn Vue' },
      { text: 'Build something awesome' }
    ]
  }
})

app4.todos.push({ text: 'New item' })
</script>

<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<script>
  var app5 = new Vue({
  el: '#app-5',
  data: {
    message: 'Hello Vue.js!'
  },
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    }
  }
})  
</script>

  </body>
</html>
