<!DOCTYPE html>
<html>

<head>
    <title>My first Vue app</title>
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->

</head>

<body>
dfdfs
<div id="app">{{msg}}</div>

<script src="index.js"></script>
</body>
</html>