<!DOCTYPE html>
<html>

<head>
    <title>My first Vue app</title>
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <script>
        new Vue({
            render(h) {
                return h('div', this.hi)
            }
        })

    </script>



    <div id="app-5">
    </div>

    <div id="app-6">
    </div>

    <script>

        var app5 = new Vue({
            el: '#app-5',
            template: `<div><p>{{ message }}</p><button v-on:click="reverseMessage">Reverse Message</button></div>`,
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })

        Vue.component('app-6', {
            // props: 'todo',
            template: `<span> kokokoko </span>`
            // template: `<span>{{ todo }}</span>`
        })

    </script>


    <div id="app">
        V košíku máte: {{ countItems }}
        <button @click="addItem">Koupit</button>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                countItems: 1
            },
            methods: {
                addItem: function () {
                    this.countItems++;
                }
            },
            watch: {
                countItems: function () {
                    alert('V košíku je: ' + this.countItems);
                }
            }
        });
    </script>

    <div id="app-7">
        <span v-if="seen">Nyní vidíte obsah!</span>
        <span v-else>A teď nevidíte nic.</span>
    </div>

    <script>
        new Vue({
            el: '#app-7',
            data: {
                seen: false
            }
        });
    </script>

    <div id="app-8">
        <template v-if="items.length > 0">
            <ul>
                <li v-for="item in items">{{ item }}</li>
            </ul>
        </template>
        <template v-else>
            Žádné položky.
        </template>
    </div>

    <script>
        new Vue({
            el: '#app-8',
            data: {
                seen: false,
                items: ['toto', 'hoho', 'juju']
            }
        });
    </script>

    <div id="app-9">
        <todo-item v-for="item in todos" v-bind:todo="item"></todo-item>
    </div>

    <script>

        Vue.component('todo-item', {
            props: ['todo'],
            template: '<div>{{ todo.text }}</div>'
        });

        var app = new Vue({
            el: '#app-9',
            data: {
                todos: [
                    {
                        text: 'Naučit se javascript'
                    },
                    {
                        text: 'Naučit se Vue.js'
                    },
                    {
                        text: 'Udělat něco hezkého. :)'
                    }
                ]
            }
        })
    </script>

    <div id="app-10">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <script>
        var app = new Vue({
            el: '#app-10',
            data: {
                message: 'Sem napište text...'
            }
        })
    </script>

    <div id="app-11">
        Zpráva: {{message}}
        <exchange-rates></exchange-rates>
    </div>

    <script>
        Vue.component('exchange-rates', {
            template: `<div class="exchange-rates">{{ content }}</div>`,
            data: function () {
                return {
                    content: 'Načítám...'
                }
            },
            created() {
                fetch("public/json/data.json")
                    .then(response => response.json())
                    .then(json => {
                        console.log('JSON', json["rodina1"].otec)
                        this.content = json["rodina1"].otec;
                    });
            }
        });

        var app = new Vue({
            el: '#app-11',
            data: {
                message: 'Exchange-rates'
            }
        })
    </script>

<div id="app-12">
    kfkfkf
    <cms-dashboard></cms-dashboard>
</div>



    <script>
        Vue.component('cms-dashboard', {
            template:
                `<div v-if="content === null">
        <b-spinner label="Loading..."></b-spinner>
    </div>
    <div v-else>
        {{ content }}
    </div>`,
            data: function () {
                return {
                    content: null
                }
            },
            created() {
                fetch('public/json/data.json')
                    .then(response => response.json())
                    .then(json => {
                        this.content = json["rodina1"].otec;
                    });
            }
        });

        // const app = new Vue({
        //     el: '#app-12'
        // })
    </script>

</body>

</html>