{# {% block body %} #}

<div>
	---BODY---
	{# <img src="https://svgur.com/i/1ja.svg"> #}
	<span>Hello{{ ' ' + name|trim }}!</span>
	{# <div>Jooo: {{ neco }}</div> #}
	{# {% block content %} {% endblock %} #}
	{% for key, val in neco %}
		<div>{{key}}
			--
			{{val}}</div>
	{% endfor %}

	{# {% for item in items %}
			<div>item</div>
		{% endfor %} #}

	{{ items }}

	{# {% include "content.twig" %} #}

	{# {% endblock %} #}

	---END BODY---
</div>
